<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Product - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="assets/fonts/line-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/vanilla-zoom.min.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="#">Voyage</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="index.html">VOIR LES PACK</a></li>
                </ul>
            </div>
            <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
                <div class="container"><a class="navbar-brand logo" href="#">Voyage</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navcol-2">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item"><a class="nav-link active" href="index.html">VOIR LES PACK</a></li>
                            <li class="nav-item"><a class="nav-link active" href="index.html">PERSONALISER</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </nav>
    <main class="page product-page">
        <section class="clean-block clean-product dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Welcome</h2>
                </div>
                <div class="block-content">
                    <div class="clean-related-items">
                        <h3>TOP 5&nbsp;</h3>
                        <div class="items">
                            <div class="row justify-content-center">
                                <div class="col-sm-6 col-lg-4">
                                    <div class="clean-related-item">
                                        <div class="image"><a href="#"><img class="img-fluid d-block mx-auto" src="assets/img/tech/Wine_Grapes_Barrel_465189_3840x2400.jpg"></a></div>
                                        <div class="related-name"><a href="#">Voyage 1</a>
                                            <h4>$300</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-4">
                                    <div class="clean-related-item">
                                        <div class="image"><a href="#"><img class="img-fluid d-block mx-auto" src="assets/img/tech/Wine_Grapes_Barrel_465189_3840x2400.jpg"></a></div>
                                        <div class="related-name"><a href="#">Voyage 1</a>
                                            <h4>$300</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-4">
                                    <div class="clean-related-item">
                                        <div class="image"><a href="#"><img class="img-fluid d-block mx-auto" src="assets/img/tech/Wine_Grapes_Barrel_465189_3840x2400.jpg"></a></div>
                                        <div class="related-name"><a href="#">Voyage 2</a>
                                            <h4>$300</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-4">
                                    <div class="clean-related-item">
                                        <div class="image"><a href="#"><img class="img-fluid d-block mx-auto" src="assets/img/tech/Wine_Grapes_Barrel_465189_3840x2400.jpg"></a></div>
                                        <div class="related-name"><a href="#">Voyage 3</a>
                                            <h4>$300</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-4">
                                    <div class="clean-related-item">
                                        <div class="image"><a href="#"><img class="img-fluid d-block mx-auto" src="assets/img/tech/Wine_Grapes_Barrel_465189_3840x2400.jpg"></a></div>
                                        <div class="related-name"><a href="#">Voyage 3</a>
                                            <h4>$300</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><button class="btn btn-primary" type="button" style="width: 100%;margin: 0px 0px 50px 0px;">Voir plus...</button>
                    </div>
                    <div class="product-info">
                        <div class="row">
                            <div class="col-md-5">
                                <figure class="figure"><img class="img-fluid figure-img" src="assets/img/tech/Wine_Grapes_Barrel_465189_3840x2400.jpg"></figure>
                            </div>
                            <div class="col-md-7">
                                <h4>Pack evenementiel 1</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p><button class="btn btn-primary" type="button" style="width: 100%;">Voir details</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <figure class="figure"><img class="img-fluid figure-img" src="assets/img/tech/Wine_Grapes_Barrel_465189_3840x2400.jpg"></figure>
                            </div>
                            <div class="col-md-7">
                                <h4>Pack evenementiel 2</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p><button class="btn btn-primary" type="button" style="width: 100%;">Voir details</button>
                            </div>
                        </div>
                    </div>
                    <div class="product-info"></div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer dark">
        <div class="footer-copyright">
            <p>© 2022 Copyright Text</p>
        </div>
    </footer>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="assets/js/vanilla-zoom.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>